<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Under construction</title>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>{{screamIt "Under construction"}}</p>
    </body>
    {{> footer}}
</html>